.header {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background: var(--gray-700);
    padding: 3.8rem;
    gap: 1rem;
}

.to {
    color: var(--blue);
}

.do {
    color: var(--purple-600);
}
