.countTasks {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.spanCounterTask {
    color: var(--white);
    font-weight: bold;
    background: var(--gray-500);
    border-radius: 9px;
    margin-left: 0.2rem;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
}

.spanCounterFinished {
    color: var(--white);
    font-weight: bold;
    background: var(--gray-500);
    border-radius: 9px;
    margin-left: 0.2rem;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
}

.taskMade {
    color: var(--blue);
    font-weight: bold;
}

.taskFinished {
    color:  var(--purple-600);
    font-weight: bold;
}

.noTasks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;
}

.h3opacity {
    opacity: 0.4;
}

.createTask {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    gap: 1rem;
    color: var(--white);
    background: var(--gray-600);
    max-width: 49%;
    padding: 1.2rem;
    border-radius: 9px;
    margin: 1.8rem auto;
}
  
.checkedTesk {
    text-decoration: line-through;
} 

input[type="checkbox"] {
    width: 21px;
    height: 21px;
    appearance: none;
    border: 2px solid var(--blue-dark);
    border-radius: 50%;
    background-color: var(--gray-500);
    cursor: pointer;
  }
  
  input[type="checkbox"]:before {
    content: "✔";
    padding: 0.12rem;
    color: var(--blue);
    opacity: 0;
    transition: opacity 0.2s ease-out;
  }
  
  input[type="checkbox"]:checked:before {
    opacity: 1;
  }

.trashSvg {
    position: absolute;
    cursor: pointer;
    margin-left: 33rem;
}

.trashSvg:hover {
    color: var(--danger-500);
}

@media screen and (max-width: 768px) {
    .createTask {
      max-width: 80%;
      margin-top: 3rem;
    }
    
    .trashSvg {
      margin-left: 17rem;
    }
  }
  